body {
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-size: 16pt;
  background: #EEEEEE;
}

.MathJax {
  font-size: 14pt;
}

header {
  padding: 1em;
}

header h1 {
  font-family: Lato;
  font-size: 3em;
  text-align: center;
}

header h2 {
  font-family: Lato;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

header p {
  font-family: Lato;
  font-size: 1.5em;
}

.hrule {
  width: 60%;
  background: #000000;
  height:2px;
  margin-left: 20%;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.feature-body {
  flex: 2;
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
}

.feature-header {
  font-family: Lato;
  text-align: center;
  font-size: 1.5em;
}

.feature-header h2 {
  font-weight: 300;
}

.feature-details {
  align-self: center;
  min-width: 20em;
  max-width: 50em;
  padding: 0em 4em;
  flex: 1;
}

.feature-image {
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
}

.feature-image img {
  max-height: 100%;
  max-width: 100%;
  min-width: 256px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #00000088;
}

.feature-image p {
  font-family: Lato;
  min-height: 3em;
}

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.gallery-image {
  text-align: center;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
}

.gallery-image img {
  max-height: 100%;
  max-width: 100%;
  min-width: 256px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #00000088;
}

.gallery-image p {
  font-family: Lato;
  margin: 1em;
  padding: 1em;
  min-height: 4em;
}

.math {
  text-align: center;
}
